.bg-dark {
    background-color: #403435!important;
}

.btn-info {
    color: #fff;
    background-color: #652112;
    border-color: #d24e1b;
}

.bg-info {
    background-color: #863a3a!important;
}